{% extends "base.html" %}
{% block title %}post_all.html{% endblock %}
{% block content %}

    <h1>Blog List</h1>
    <div align="right">
        <a href="{% url 'blog:add' %}" style=""><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" style="background-color: #0d6efd; color: #FFFFFF;">Post</button></a>
    </div>0
    <br>
    {% for post in posts %}
        <h3 align="right" style="float:right">{{ post.owner.get_username }}</h3>
        <h3><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></h3>
        <p align="right" style="float:right">{{ post.modify_dt|date:"j F Y" }}</p>
        <p>{{ post.description }}</p>
    {% endfor %}

    <br>
    <div>
        <span>
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">PreviousPage</a>
            {% endif %}

            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">NextPage</a>
            {% endif %}
        </span>
    </div>

{% endblock %}